.nameDiv {
    display: flex;
    gap: 20%;
}

.detailsDiv {
    width: 40%;
}

.emailDiv {
    width: 100%;
}

.buttonSection {
    display: flex;
    column-gap: 3%;
}

@media only screen and (max-width: 768px) {
    .nameDiv {
        gap: 20px;
        width: 100%;
        flex-direction: column;
    }

    .detailsDiv {
        width: 100%;
    }

    .buttonSection {
        padding-top: 15px;
    }
}

