.mainScreen {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parentDiv {
    width: 70%;
}

.editProfileContainer {
    padding: 5%;
}

.editProfileTextDiv {
    font-family: Gilroy-SemiBold, serif;
    font-size: 20px;
}

.editProfileImage {

    align-items: flex-end;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    display: flex;
    height: 100px;
    justify-content: flex-end;
    width: 100px;
}


.editProfileIcon {
    cursor: pointer;
    height: 30px;
    width: 30px;
}


.inputBorder {
    height: 30px;
    align-items: center;
    border: 1px solid rgba(0, 113, 197, .4);
    border-radius: 6px;
}

.namingDiv {
    font-size: 18px;
    font-family: Gilroy-SemiBold, sans-serif;

}

.firstInputComponent {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px !important;
}

.nameDiv {
    display: flex;
    gap: 20%;
}


.detailsDiv {
    width: 40%;
}


.emailDiv {
    width: 100%;
}

.childDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    row-gap: 35px;
}

.logOutSection {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 90%;
}


.buttonSection {
    display: flex;
    column-gap: 3%;
}

.saveButton {
    background: #0071c5;
    border-radius: 6px;
    color: #fff;
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    height: 45px;
    justify-content: center;
    width: 30%;
}

.cancelButton {
    font-size: 20px;
    height: 45px;
    width: 30%;
    border: 1px solid #0071c5;
    border-radius: 6px;
    color: #0071c5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logOutButton {
    font-size: 20px;
    height: 45px;
    width: 30%;
    border: 1px solid #0071c5;
    border-radius: 6px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    padding-left: 2%;
}

.logOutIcon {
    height: 32%;
    width: 10%;
}

.logoutDiv {
    padding-left: 10%;
}

@media only screen and (max-width: 768px) {
    .nameDiv {
        gap: 20%;
        width: 45%;
    }

    .parentDiv {
        width: 90%;
    }

    .inputBorder {
        height: 35px;
    }

    .saveButton {
        height: 40px;
        width: 50%;
    }

    .cancelButton {
        height: 40px;
        width: 50%;
    }

    .logOutButton {
        height: 40px;
        width: 60%;
    }

    .detailsDiv {
        width: 40%;
    }
}