.firstInputComponent {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px !important;
}

.namingDiv {
    font-size: 18px;
    font-family: Gilroy-SemiBold, sans-serif;
}

.inputBorder {
    height: 30px;
    align-items: center;
    border: 1px solid rgba(0, 113, 197, .4);
    border-radius: 6px;
    font-size: 18px;
    padding: 8px;
}


@media only screen and (max-width: 768px) {

    .inputBorder {
        height: 35px;
    }
}
