.dropdownItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dropdownIcons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    cursor: pointer;

}
.dropdownDiv{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

