.billingHeaderDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fb;
    height: 100px;
}

.billingHeaderTextDiv {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.billingHeaderText {
    font-size: 20px;
    font-weight: bold;
    font-family: Gilroy-SemiBold, sans-serif;
}

.modalDiv {
    height: 28px;
    width: 300px;
    display: flex;
    flex-direction: row;
    gap: 70%;
    align-items: center;
    justify-content: space-around;
    background-color: #F1F1F1;
    cursor: pointer;
    font-family: Gilroy-SemiBold, serif;
}

.yearDiv {
    height: 28px;
    width: 100px;
    display: flex;
    flex-direction: row;
    gap: 20%;
    align-items: center;
    justify-content: space-around;
    background-color: #FFFFFF;
    cursor: pointer;
    font-family: Gilroy-SemiBold, serif;
}

.calenderDiv {
    display: flex;
    gap: 1%;
}

.billingHeaderImage {
    height: 8px;
    width: 11px;
}

.modelMonth {
    position: absolute !important;
    top: 370px;
    right: 2px;
    transform: translate(-50%, -50%);
    width: 230px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    outline: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #FFFFFF;
    font-family: Gilroy-Medium, sans-serif;
}

.modelYear {
    position: absolute !important;
    top: 190px;
    right: 270px;
    transform: translate(-50%, -50%);
    width: 150px;
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    outline: 0;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: Gilroy-Medium, sans-serif;
}

.items {
    cursor: pointer;
    font-size: 16px;
    padding: 8px;
    background-color: #FFFFFF;
}

.items:hover {
    background-color: #e8f6fe !important;
}

.darkItems {
    cursor: pointer;
    font-size: 16px;
    padding: 8px;
    background-color: #303030;
}

.darkItems:hover {
    background-color: rgb(89, 98, 107) !important;
}

@media only screen and (max-width: 767px) {
    .billingHeaderText {
        font-size: 16px;
        display: flex;
        align-items: center;
    }

    .yearDiv {
        height: 25px;
        width: 65px;
    }

    .modalDiv {
        width: 140px;
        gap: 50%;
        height: 25px;
    }

    .billingHeaderImage {
        height: 6px;
        width: 9px;
    }

    .yearText {
        font-size: 12px;
    }

    .monthText {
        font-size: 12px;
    }

    .items {
        font-size: 12px;
    }

    .darkItems {
        font-size: 12px;
    }

    .modelYear {
        width: 100px;
        top: 120px !important;
        left: 210px !important;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .modelMonth {
        width: 120px;
        top: 290px;
        left: 290px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .billingHeaderDiv {
        height: 60px;
    }
}
