.cardChartContainer {
    width: 90%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.analysisCardText {
    width: 85%;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Gilroy-Medium', serif;
    position: absolute;
    top: 0;
    padding: 15px;
}

.cardData {
    font-size: 40px;
    font-family: Gilroy-SemiBold, serif !important;
}

.emptyMessage {
    font-size: 20px;
    font-family: Gilroy-SemiBold, serif !important;
}

@media only screen and (max-width: 768px) {
    .cardChartContainer {
        flex-direction: column;
        gap: 20px;
    }

    .analysisCardText {
        font-size: 12px;
    }

    .emptyMessage {
        font-size: 16px;
    }

}