.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cardContainer {
    height: 73%;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.title {
    font-size: 1.3rem;
    font-family: Gilroy-Medium, sans-serif;
    padding-left: 5%;
}

.cardImage {
    display: flex;
    justifyContent: center;
    align-items: center;
}

.textDiv {
    display: flex;
    justifyContent: center;
    align-items: center;
    width: 100%;
}

.textStyleDiv {
    display: flex;
    justifyContent: center;
    align-items: center;
    margin-top: 2%;
    color: #FFFFFF;
    font-family: Gilroy-Medium, serif;
}

@media only screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        /*gap: 20px;*/
    }

    .cardContainer {
        height: 73%;
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
    }

    .textDiv {
        height: 10%;
    }

    .cardImage {
        padding: 10px;
        height: 30%;

    }

    .textStyleDiv {
        height: 1%;
        font-size: 85%;
    }

    img {
        height: 80%;
        width: 100%;
    }

}