.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cardContainer {
    height: 73%;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.title {
    font-size: 1.3rem;
    font-family: Gilroy-Medium, sans-serif;
    padding-left: 5%;
}

.cardImage {
    display: flex;
    justifyContent: center;
    align-items: center;
}

.txtDiv {
    display: flex;
    justifyContent: center;
    align-items: center;
    padding-top: 2%;
    width: 100%;
}

.txtStyleDiv {
    display: flex;
    justifyContent: center;
    align-items: center;
    margin-top: 2%;
}

@media only screen and (max-width: 768px) {
    .container {

        display: flex;
    }

    .cardContainer {
        width: 50%;
        height: auto;
        column-gap: 10%;
        row-gap: 10%;


    }
}