.choosePlanDiv {
    width: 30%;
    border-radius: 10px;
    height: 565px;
    overflow: scroll;
    box-shadow: 0 2px 7px rgba(0, 0, 0, .13);
}

.cardChildDiv {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-family: Gilroy-Medium, sans-serif;
    flex: 1;
}

.descriptionDiv {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.planTitle {
    font-weight: bold;
}

.planCostDiv {
    display: flex;
    gap: 10px;
    align-items: center;
}

.planButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    cursor: pointer;
}

.planServices {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


@media only screen and (max-width: 821px) {
    .choosePlanDiv {
        width: 100%;
        height: 410px;
    }

    .cardChildDiv {
        padding: 20px;
        gap: 25px;
        font-size: 14px;
    }
}
