.chartYAxisLabel {
    position: absolute;
    margin-left: 43px;
    display: flex;
    flex-direction: column;
    font-family: Gilroy-Medium, sans-serif;
    color: #969696;
}

.chartXAxisLabel {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 600px;
    bottom: 41px;
    font-family: Gilroy-Medium, sans-serif;
    color: #969696;
}