.mainScreen {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parentDiv {
    width: 70%;
}

.editProfileContainer {
    padding-top: 4%;
}

.editProfileTextDiv {
    font-family: Gilroy-SemiBold, serif;
    font-size: 20px;
}

.editProfileImageDiv {
    position: relative;
    display: flex;
    padding-top: 2%;
    align-items: flex-end;
    width: 100px;
    justify-content: flex-end;

}

.profileImage {
    display: flex;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
   justify-content: center;
    align-items: center;

}

.icon {
    padding-top: 2%;

}

.editProfileIcon {
    cursor: pointer;
    height: 30px;
    width: 30px;
 position: absolute;
}


.nameDiv {
    display: flex;
    gap: 20%;
}


.detailsDiv {
    width: 40%;
}
.text{
    font-size: 18px;
}

.emailDiv {
    width: 100%;
}

.childDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    row-gap: 35px;
    padding-top: 4%;
}

.buttonSection {
    display: flex;
    column-gap: 3%;
}

.saveButton {
    background: #0071c5;
    border-radius: 6px;
    color: #fff;
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    height: 45px;
    justify-content: center;
    width: 30%;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:darkred;
}
.successAlertBox {
    margin-left: 20px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    height: 40px;
    width: 30%;
    background-color: rgba(91, 188, 115, 0.1);
    color: #5BBC73;
}
.errorAlertBox {
    background-color: rgba(197, 78, 48, 0.1);
    color: #C54E30;
}

@media only screen and (max-width: 768px) {
    .nameDiv {
        gap: 20px;
        width: 100%;
        flex-direction: column;
    }

    .parentDiv {
        width: 90%;
    }
.childDiv{
    flex-direction:column;
    gap: 20px;
}
.detailsDiv{
    width: 100%;
}
    .saveButton {
        width: 100%;
    }

    .editProfileIcon {
        height: 25px;
        width: 25px;
        padding-top: 9%;
        padding-left: 12%;
    }
    .buttonSection{
        padding-top: 15px;
    }
    .editProfileContainer {
       display: flex;
        height: 2%;
    }
    .editProfileImageDiv{
        padding-top: 60px;
    }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .profileImage {
        height: 8rem;
    }

    .editProfileIcon {
        height: 45px;
        width: 45px;
        padding-top: 10%;
        padding-left: 12%;
    }

}