.userProfileDiv {
    display: flex;
    justify-content: flex-start;
}

.profileModalIcon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.profileModalIconDiv {
    height: 30px;
    width: 30px;
}

.dropdownMenuItem {
    height: 30%;
    width: 30%;
    display: flex;
    align-items: center;
}

.dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.textProfileModal {
    color: #FFFFFF;
    font-family: Gilroy-SemiBold, sans-serif;
    white-space: nowrap;
}

@media only screen and (max-width: 768px) {
    .profileModalIcon {
        height: 26px !important;
        width: 26px !important;
    }

    .textProfileModal {
        font-size: 12px;
    }

    .downArrow {
        height: 5px;

    }

    .profileModalIconDiv {
        height: 10px;
        width: 10px;
    }
}