.billingHeaderDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fb;
    height: 100px;
}

.billingHeaderTextDiv {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.billingHeaderText {
    font-size: 20px;
    font-weight: bold;
    font-family: Gilroy-SemiBold, sans-serif;
}

.modalDiv {
    height: 28px;
    width: 300px;
    display: flex;
    flex-direction: row;
    gap: 70%;
    align-items: center;
    justify-content: space-around;
    background-color: #F1F1F1;
    cursor: pointer;
    font-family: Gilroy-SemiBold, serif;
}

.yearDiv {
    height: 28px;
    width: 100px;
    display: flex;
    flex-direction: row;
    gap: 20%;
    align-items: center;
    justify-content: space-around;
    background-color: #FFFFFF;
    cursor: pointer;
    font-family: Gilroy-SemiBold, serif;
}

.calenderDiv {
    display: flex;
    gap: 1%;
}

.billingHeaderImage {
    height: 8px;
    width: 11px;
}

.lightThemeModalMonth {
    position: absolute !important;
    top: 390px;
    right: 2px;
    transform: translate(-50%, -50%);
    width: 230px;
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    outline: 0;
    cursor: pointer;
}
.darkThemeModalMonth{
    position: absolute !important;
    top: 390px;
    right: 2px;
    transform: translate(-50%, -50%);
    width: 230px;
    border-radius: 10px;
    background-color: #303030;
    display: flex;
    flex-direction: column;
    outline: 0;
    cursor: pointer;
}

.lightThemeModalYear {
    position: absolute !important;
    top: 155px;
    right: 190px;
    transform: translate(-50%, -50%);
    width: 220px;
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    outline: 0;
    cursor: pointer;
}
.darkThemeModalYear{
    position: absolute !important;
    top: 155px;
    right: 190px;
    transform: translate(-50%, -50%);
    width: 220px;
    border-radius: 10px;
    background-color: #303030;
    display: flex;
    flex-direction: column;
    outline: 0;
    cursor: pointer;
}
.items {
    font-size: 18px;
    padding: 10px;
}

.lightThemeModalMonth :hover {
    background: #e8f6fe;
    border: #0071c5;
    color: #0071c5!important;
    border-radius: 10px;
}

.lightThemeModalYear :hover {
    background: #e8f6fe;
    border: #0071c5;
    color: #0071c5!important;
    border-radius: 10px;
}
.darkThemeModalMonth :hover{
    background: #0071c5;
    border-radius: 10px;
}
.darkThemeModalYear:hover{
    background: #0071c5;
    border-radius: 10px;
}


@media only screen and (max-width: 768px) {
    .billingHeaderText {
        font-size: 16px;
        display: flex;
        align-items: center;
    }

    .yearDiv {
        height: 25px;
        width: 65px;
    }

    .modalDiv {
        width: 140px;
        gap: 50%;
        height: 25px;
    }

    .billingHeaderImage {
        height: 6px;
        width: 9px;
    }

    .yearText {
        font-size: 12px;
    }

    .monthText {
        font-size: 12px;
    }

    .items {
        font-size: 12px;
    }

    .lightThemeModalMonth {
        width: 105px;
        top: 310px;
        left: 315px;
        padding: 8px;
    }

    .lightThemeModalYear {
        width: 100px;
        top:120px!important;
        left: 210px!important;
    }
    .darkThemeModalMonth{
        width: 105px;
        top: 310px;
        left: 315px;
        padding: 8px;
    }
    .darkThemeModalYear{
        width: 100px;
        top:120px!important;
        left: 210px!important;
    }

    .billingHeaderDiv {
        height: 60px;
    }
}
